.bg-home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
}

.home-main-bg-container {
  min-height: 88.8vh;
  display: flex;
  width: 100%;
}

.home-dashboard-container {
  display: flex;
  flex-direction: column;
  min-height: 90%;
  width: 17%;
  justify-content: space-between;
  position: fixed;
}

.dark-dashboard {
  background-color: #272727;
}

.light-dashboard {
  background-color: white;
}

.upper-dashboard-content {
  padding: 0;
  list-style-type: none;
}

.sidebar-logos {
  font-size: 18px;
}

.lower-dashboard-content {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}

.social-media-container {
  display: flex;
  align-items: center;
  width: 65%;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 10px;
}

.social-media-heading-dark {
  color: white;
  font-weight: 500;
}

.social-media-heading-light {
  font-weight: 500;
  color: black;
}

.social-media-para-dark {
  color: white;
  margin-bottom: 40px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
}

.social-media-para-light {
  color: #1e293b;
  margin-bottom: 40px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
}

.social-media-container img {
  width: 35px;
}

.home-content-container {
  min-height: 100%;
  width: 100%;
  margin-left: 17%;
  overflow-y: auto;
  font-family: 'Roboto';
}

.dark-home-content {
  background-color: #181818;
}
.light-home-content {
  background-color: #f9f9f9;
}

.banner-close {
  display: none;
}

.home-container-premium-banner {
  display: flex;
  align-items: flex-start;
  font-family: 'Roboto';
  justify-content: space-between;
  background-color: white;
  height: 280px;
  max-width: 100%;
  background-image: url('https://assets.ccbp.in/frontend/react-js/nxt-watch-banner-bg.png');
  background-size: cover;
}

.left-premium-content {
  padding: 30px 20px;
  width: 350px;
}

.left-premium-content img {
  width: 50%;
}

.left-premium-content p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 40px;
}

.left-premium-content button {
  background-color: transparent;
  border: solid 2px black;
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
  word-spacing: 0px;
  cursor: pointer;
}

.close-button {
  font-size: 20px;
  margin-right: 15px;
  margin-top: 15px;
  cursor: pointer;
}

.home-main-videos-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  padding-bottom: 30px;
}

.search-bar-container {
  display: flex;
  align-items: center;
  width: 35%;
}

.search-input {
  padding: 7px 15px;
  width: 80%;
  outline: none;
}

.dark-search {
  background-color: transparent;
  color: #f9f9f9;
  border: solid 1px #515151;
}

.light-search {
  background-color: white;
  color: black;
  border: solid 1px rgb(161, 161, 161);
}

.search-logo-container {
  padding: 7px 20px;
  height: 31px;
  font-size: 18px;
  cursor: pointer;
}

.search-logo-dark {
  background-color: #383838;
  color: rgb(115, 115, 115);
  border: solid 1px #515151;
}

.search-logo-light {
  background-color: #f1f1f1;
  border: solid 1px rgb(161, 161, 161);
}

.loader-container {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  height: 30vh;
}

.failure-output-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.failure-output-container img {
  width: 33%;
  margin-top: 30px;
}

.failure-output-container h1 {
  font-size: 26px;
}

.failure-dark h1 {
  color: white;
}

.failure-dark p {
  color: white;
}

.failure-output-container p {
  font-size: 17px;
  margin-top: -1px;
}

.failure-output-container button {
  border: none;
  background-color: #4f46e5;
  padding: 15px 40px;
  font-size: 13px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  color: white;
}

.ul-container {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 40px;
  /* justify-content: space-between; */
}

.no-videos-view {
}
